@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #fefefe;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5d402d;
  outline: 1px solid #5d402d;
  border-radius: 4px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
}