@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  border: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}

.viewport {
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-out;
}

.blurBackground {
  /*background-image: url('https://gtaliferp.fr/upload/kg6zlah2bijnjoy.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
  overflow: hidden;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  filter: blur(3px);
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
}

.transition-enter {
  opacity: 0;
  transform: scale(0.9);
}
.transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.transition-exit {
  opacity: 1;
}
.transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.transitionOpacity-enter {
  opacity: 0;
}
.transitionOpacity-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.transitionOpacity-exit {
  opacity: 1;
}
.transitionOpacity-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
