.class-inventory {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #333, #000);
  font-family: "PlazaRegular";
  color: #fff;
  font-size: 24px;
  width: 100%;
  height: 100%;
}

.inventory-button {
  position: absolute;
  right: 120px;
  bottom: 120px;
  color: #999999;
  cursor: pointer;
  z-index: 10;
}
.class-inventory-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.class-inventory-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.class-inventory-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.class-inventory-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.inventory-content {
  display: flex;
  height: 100%;
  padding: 0 30px;
  border-radius: 20px;
  opacity: 0.9;
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 16px 16px 32px 0px rgb(17 17 17 / 35%);
  color: black;
  overflow: auto;
  touch-action: auto;
  backdrop-filter: blur(50px);
}
.class-inventory-panel {
  padding: 16px;
  display: flex;
  justify-content: center;
  width: 450px;
  color: white;
  flex-direction: column;
}
.class-inventory-text {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.class-inventory-panel-items {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.class-inventory-pagination-btn:hover {
  cursor: pointer;
}
.class-inventory-disable {
  opacity: 0.3;
}
.class-inventory-item {
  filter: drop-shadow(0px 11.2376px 11.2376px rgba(0, 0, 0, 0.25));
  border-radius: 6.74257px;
  border: 2px solid rgba(137, 137, 242, 0.53);
  box-shadow: 0px 11.23762321472168px 11.23762321472168px 0px #00000040;
}
.class-inventory-trade-item {
  margin: 6px;
  width: 60px;
  height: 60px;
}
.class-inventory-user-item {
  margin: 10px;
  width: 90px;
  height: 90px;
}
.class-inventory-item:hover {
  cursor: pointer;
}
.class-inventory-item-empty {
  border-radius: 8px;
  border: 2px solid #ffffff61;
  box-shadow: 0px 11.23762321472168px 11.23762321472168px 0px #00000040;
  backdrop-filter: blur(50px);
}
.class-inventory-trade-item-empty {
  margin: 6px;
  width: 60px;
  height: 60px;
}
.class-inventory-user-item-empty {
  margin: 10px;
  width: 90px;
  height: 90px;
}
.class-inventory-item-content.being-dragged {
  position: fixed;
  cursor: grab;
}
.class-inventory-item-content.being-moved {
  display: none;
}
.class-inventory-item-content-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.class-inventory-item-preview {
  width: 50px;
  aspect-ratio: 1.2;
}
.class-inventory-item-name {
  word-wrap: break-all;
  text-align: center;
}
.class-inventory-panel-trade-result-text {
  padding: 8px;
  border-radius: 4px;
  background-color: #2e7d32;
}
