.trade-banner {
  width: 900px;
  height: 500px;
  background-image: linear-gradient(to bottom, #333, #000);
  font-family: 'PlazaRegular';
  color: #FFF;
  font-size: 36px;
}
.iframe {
  overflow: visible !important;
}
