* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: black;
}

body:before {
  content: '';
  background-image: url('./assets/frame/bg-repeat.jpg');
  background-repeat: repeat;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style-type: none;
  margin:0;
  padding:0;
}